.cuerpo {
  background: linear-gradient(
    90deg,
    rgba(122, 3, 125, 1) 0%,
    rgba(255, 0, 77, 1) 100%
  );
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(122, 3, 125, 1) 0%,
    rgba(255, 0, 77, 1) 100%
  );
}

h1 {
  height: 70px;
  color: white;
  font-weight: bold;
}

h2 {
  color: rgb(132, 0, 255);
}

.welcome {
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  background: radial-gradient(
    circle,
    rgba(255, 157, 63, 0.9) 0%,
    rgba(122, 3, 125, 1) 0%,
    rgba(255, 157, 63, 0.9) 100%
  );
}

form {
  color: white;
}

.enlace {
  color: white;
  font-size: 14px;
}

.enlace:hover {
  color: white;
}

.registro {
  font-weight: bolder;
}

.salir {
  font-size: 20px;
}
